/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 720px;
  height: 343px;
  background-image: url("images/torshov.jpg");
  background-size: cover;
  border-radius: 10px;
}

.hero-visit-span {
  display: inline-block;
  border-radius: 10px;
  width: 225px;
  height: 42px;
  top: 119px;
  left: 247px;
  background-color: #1d3557;
  padding: 10px 5px 5px 5px;
}
.hero-visit {
  margin: auto;
  width: 201px;
  height: 34px;
  top: 122px;
  left: 259px;
  font-family: Arial;
  font-weight: 700;
  size: 32px;
  color: #ffffff;
}
.hero-enjoy-span {
  display: block;
  border-radius: 10px;
  width: 440px;
  height: 52px;
  top: 172px;
  left: 254px;
  background-color: #457b9d;
  margin-top: 10px;
  padding: 10px;
}
.hero-enjoy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 412px;
  margin: auto;
  color: #ffffff;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 720px;
  height: 378px;
  top: 343px;
  background-color: #f1faee;
}
.activities-title {
  width: 439px;
  height: 20px;
  font-family: Arial;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #1d3557;
}
section {
  display: flex;
  flex-direction: row;
}
.activities-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.activities-show-img {
  width: 108px;
  height: 99px;
  border-radius: 100px;
}
.activities-show-title {
  width: 182px;
  height: 32px;
  top: 1236x;
  left: 41px;
  font: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1d3557;
}
.activities-show-text {
  width: 198px;
  height: 55px;
  top: 285px;
  left: 34px;
  font: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #1d3557;
}
.activities-piknic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.activities-piknic-img {
  width: 103px;
  height: 103px;
  border-radius: 100px;
}
.activities-piknic-title {
  width: 162px;
  height: 35px;
  top: 235px;
  left: 3283px;
  font: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1d3557;
}
.activities-piknic-text {
  width: 198px;
  height: 54px;
  top: 286px;
  left: 265px;
  font-style: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #1d3557;
}
.activities-sports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activities-sports-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.activities-sports-title {
  width: 197px;
  height: 38px;
  top: 236px;
  left: 488px;
  font: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1d3557;
}
.activities-sports-text {
  width: 198px;
  height: 54px;
  top: 286px;
  left: 488px;
  font: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #1d3557;
}
