/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

img {
  width: 100px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 720px;
  height: 343px;
  background-image: url(images/torshov.jpg);
  background-size: cover;
  border-radius: 10px;
}
.hero-visit-span {
  display: inline;
  border-radius: 10px;
  width: 225px;
  height: 42px;
  top: 119px;
  left: 247px;
  background-color: #1d3557;
  padding: 10px 5px 5px 5px;
}
.hero-visit {
  margin: auto;
  width: 201px;
  height: 34px;
  top: 122px;
  left: 259px;
  font-family: Arial;
  font-weight: 700;
  size: 32px;
  color: #ffffff;
}
.hero-enjoy-span {
  display: block;
  border-radius: 10px;
  width: 440px;
  height: 52px;
  top: 172px;
  left: 254px;
  background-color: #457b9d;
  margin-top: 10px;
  padding: 10px;
}
.hero-enjoy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 412px;
  margin: auto;
  color: #ffffff;
}
.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 720px;
  height: 378px;
  top: 343px;
  background-color: #f1faee;
}
.activities section {
  display: flex;
  flex-direction: row;
}
.activities-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
